<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/query-builder.default.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/QueryBuilder/query-builder.standalone.min.js"></script>
<script src="~/Scripts/QueryBuilder/jQuery.extendext.min.js"></script>
<script src="~/Scripts/QueryBuilder/query-builder.ru.js"></script>
<script src="~/Scripts/gridMls.js"></script>
<script src="~/Scripts/QueryBuilder/configurator.js"></script>
<script src="~/Scripts/filtersMls.js"></script>

<div id="toolbarMls"></div>
<div id="contentML"><div id="gridMls"></div></div>

<ul id="context-menu">
    <li>
        Территория

    </li>
    <li>
        Создать паспорт

    </li>
    <li>
        Отправить паспорт в работу
    </li>
    <li>
        Отправить паспорт на территорию
    </li>
    <li>
        Открыть каталог с паспортом
    </li>
    <li>
        Открыть паспорт
    </li>
    <li>
        Аирибуты
    </li>
</ul>
<div id="windowConf">
    <div id="configurator" style="display: none;">
        <div id="builderConf"></div>
        <div>
            <button id="textSave" class="k-button" onclick="Save()">Сохранить</button>
        </div>
    </div>
</div>
<script>
    $("#context-menu").kendoContextMenu({
        target: "#contentML"

    });
 
</script>