<div id="tabstrip">
    <ul>
        <li class="k-state-active">Список МЛ</li>

        <li>Список F</li>
        <li>Список Y</li>
        <li>Список R</li>
        <li>Список E</li>
        <li>Список S</li>
        <li>Список T</li>
        <li>Список O</li>
        <li>Список K</li>
        <li>Список L</li>
        <li>Список каналов</li>
    </ul>
</div>
<script>
    var ts = $("#tabstrip").kendoTabStrip({
        animation: { open: { effects: "fadeIn" } },
        contentUrls: ["ListMLs/Index", "http://192.168.60.15/NavigatorRouteSheets/ChannelForms/ChannelFList.aspx", "", "", "", "", "", "", "", "", ""]
    }).data('kendoTabStrip');
</script>