
@{
    ViewBag.Title = "Index";
}

<div id="example">
    <div id="grid"></div>
    <script>
        $(document).ready(function () {
            $("#grid").kendoGrid({
                dataSource: {                  
                    transport: {
                        read: {
                            url: document.URL+ "/api/Grid", type: "get", dataType: "json"
                        }                      
                    },
                        pageSize: 20
                    },
                    height: 760,
                    groupable: true,
                    sortable: true,
                    pageable:true,
                    resizable: true,
                    reorderable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        buttonCount: 5
                    },
                    columns: [{ template: "<input name='checkedRecords' type='checkbox' />", width: 30, headerTemplate: "<input name='checkedRecords' type='checkbox' />" }, {
                        template: "<a href=''>#=NumML# </a><div class=\"valueDel\"></div> #=kendo.toString(utverzh,'dd.MM.yyyy')#",                 
                        field: "NumML",
                        title: "NumML",
                       
                    }, {
                        field: "USERs",
                        title: "Пользователь"
                    }, {
                        field: "Otvetstv",
                        title: "Ответственный"
                    }, {
                        field: "Zakazhcik",
                        title:"Заказчик",
                 
                    }, {
                        template: "#=AdresA ? AdresA:'' # <div class=\"valueDel\"></div> #=AdresB ? AdresB:''#",
                        field: "AdresA",
                        title:"Адрес"
                    }, {
                        field: "AdressA",
                        title: "Адрес СО",
                        template: "#=AdressA ? AdressA:'' # <div class=\"valueDel\"></div> #=AdressB ? AdressB:''#"
                    }, {
                        title: "Услуга",
                        field: "Usluga",
                        template: "<table><tr><td>#=Usluga ? Usluga:'' #  &nbsp;</td></tr><tr><td>#=Skorost ? Skorost:'' #  &nbsp; </td></tr><tr><td></td></tr></table>"
                    }, {
                        field: "Styk_A",
                        title: "Стык",
                        template: "#=Styk_A ? Styk_A:'' # <div class=\"valueDel\"></div> #=Styk_B ? Styk_B:''#"
                    }, { field: "PrivA", title: "Узел привязки", template: "#=PrivA ? PrivA:'' # <div class=\"valueDel\"></div> #=PrivB ? PrivB:''#" }]
                });
        });
    </script>
</div>


<style type="text/css">
    .customer-photo {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }

    .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }
</style>


