@using Navigator.Domain.Entities
@(Html.Kendo().ToolBar()
    .Name("ToolBar").Items(items =>
    {
        items.Add().Type(CommandType.Button).Text("Очистить фильтры").Id("ClearFilters");
        items.Add().Type(CommandType.Button).Text("Конфигуратор").Id("Configurator");

    }).Events(e => e.Click("onClick")))
@(Html.Kendo().Window()
        .Name("window")
        .Width(630)
        .Height(315)
        .Content(@<text>
            <p>
                Alvar Aalto is one of the greatest names in modern architecture and design.
                Glassblowers at the iittala factory still meticulously handcraft the legendary
                vases that are variations on one theme, fluid organic shapes that let the end user
                ecide the use. Interpretations of the shape in new colors and materials add to the
                growing Alvar Aalto Collection that remains true to his original design.
            </p>
        </text>)
        .Draggable()
        .Resizable()
        .Title("Конфигуратор")
        .Actions(actions => actions.Pin().Refresh().Maximize().Close())
        .LoadContentFrom("ajaxcontent1", "window").Visible(false))
@(Html.Kendo().Grid<Osnova>()
      .Name("Grid")
      .Columns(columns =>
      {
          columns.Bound(p => p.NumML).Title("№ МЛ").Width(180);
          columns.Bound(p => p.Adres_A).Filterable(ftb => ftb.Multi(true)).Title("Adr A").Width(146);
          columns.Bound(p => p.Adres_B).Filterable(ftb => ftb.Multi(true)).Title("Adr b").Width(146);
          columns.Bound(p => p.Dop_A).Filterable(ftb => ftb.Multi(true)).Title("Пользователь").Width(146);


      }).ColumnMenu().Editable(editable => editable.Mode(GridEditMode.InCell))
      .Pageable(pageable => pageable.Refresh(true).PageSizes(true).ButtonCount(5))
      .Sortable()
      .Scrollable()
      .HtmlAttributes(new { style = "height:740px;" })
      .Selectable(selectable => selectable.Mode(GridSelectionMode.Multiple))
      .Navigatable()
      .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
      .DataSource(dataSource => dataSource.Ajax().Read(read => read.Action("Osnova_Read", "Osnova"))
      .Sort(sort => sort.Add("NumML").Descending())
      .Model(model =>
      {
          model.Id(p => p.NumML);
          model.Field(p => p.NumML).Editable(false);

      })
      .Update("Editing_Update", "RouteSheet")
      .ServerOperation(true))
      .Resizable(resize => resize.Columns(true))
      .Reorderable(reorder => reorder.Columns(true)))



